body,
html {
  height: 100%;
}
.ae-body {
    background-color: steelblue;
    background-repeat: repeat;
    background-size:cover;
  height: 100%;
    background-position: center;
    padding-bottom: 200px;
    width: 100%;
    padding-top: 0.1px;
  }

  .ae-heading {
    color: midnightblue;
    
    float: left;
    font-size: 80px;
    margin-top: 2%;
    margin-left: 2%;
  }